<div class="container">
  <div class="row align-items-start row-cols-3 ms-auto">
    {{#each beersList}}
    <div class="col">
        <div class="beerCard">
            {{> beerpartial this}}
        </div>
    </div>
    {{/each}}
  </div>
</div>