<div class="indexPage position-absolute top-50 start-50 translate-middle ">
    <img class="beerImage" src="/images/beer.png" alt="Beer Image">
    <div class="btns">
        <div class="btn indexButton1">
            <a href="/beers"><span>Check the Beers!</span></a>
        </div>
        <div class="btn indexButton2">
            <a href="/random-beers"><span>Check a Random Beer</span></a>
        </div>
    </div>
</div>
