<div class="indexPage">
    <img class="beerImage" src="/images/beer.png" alt="Beer Image">
    <div class="buttonContainer">
        <a class="buttonFirstPage" href="/beers">Check the Beers!</a>
    </div>
    <div class="buttonContainer"
        <a  class="buttonFirstPage" href="/random-beers">Check a Random Beer</a>
    </div>
</div>
