<div class="indexPage">
    <img class="beerImage" src="/images/beer.png" alt="Beer Image">
    <div class="indexButton1">
        <a href="/beers"><span>Check the Beers!</span></a>
    </div>
    <div class="indexButton2">
        <a href="/random-beers"><span>Check a Random Beer</span></a>
    </div>
</div>
<div class="footer">
    <h3>Developed by Ironhack ;)</h3>
</div>
