<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <nav>
        <ul>
            <li><a href="/"><span>Home</span></a></li>
            <li><a href="/beers"><span>Beers</span></a></li>
            <li><a href="/random-beers"><span>Random Beer</span></a></li>
        </ul>
    </nav>
</head>
<body>
    {{{ body }}}
</body>
<div class="footer">
    <h3>Developed by Ironhack ;)</h3>
</div>
</html>